<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Party posts</title>
</head>

<body>
    <div class="d-flex justify-content-between m-5">
        <h2>Welcome 😁 {{user.first_name}}</h2>
        <div>
            <a href="" class="btn btn-secondary">My parties</a>
            <a href="/logout" class="btn btn-danger">LOGOUT</a>
        </div>
    </div>
    <div class="m-5">
        <h4>All the Cool Parties We Know About</h4>
        <table class="table table-striped">
            <tr>
                <th>What</th>
                <th>Where</th>
                <th>When</th>
                <th>All ages</th>
                <th>Posted By</th>
                <th>Actions</th>
            </tr>
            {% for party in parties %}
                <tr>
                    <td>{{party.title}}</td>
                    <td>{{party.location}}</td>
                    <td>{{party.date}}</td>
                    <td>
                        {%if party.all_ages ==1 %}
                            True
                        {% else %}
                            False
                        {% endif %}
                    </td>
                    <td>{{party.poster}}</td>
                    <td>
                        <a href="">View</a>
                        <a href="">Edit</a>
                        <a href="">Cancel</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="/parties/new" class="btn btn-dark btn-lg">Plan a party</a>
    </div>
</body>

</html>