<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <title>Edit Profil</title>
</head>
<body>
    <nav class="navbar-brand">
        <div class="d-flex justify-content-between m-4">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo"style="width:120px;">
              </a>
            <div class="navbar-brand" id="navbarSupportedContent">
                <a href="/"><button class="btn btn-success">Home</button></a>
                <a href="/company/dashboard"><button class="btn btn-warning">Back</button></a>
                <a href="/logout"><button class="btn btn-danger">Logout</button></a>
            </div>
        </div>
    </nav>
   
    <div class="container" style="margin-top: 30px;">    
        <h2>Update Company Name</h2>
        <form action="/company/{{company.id}}/update" enctype="multipart/form-data" method="post" class="form p-2em">
            <div class="form-row m-3 p-2" style="width: 500px;background-color: azure;">
                <div class="form-group m-3 p-2">
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="name" value="{{company.name}}">
                </div>
                <div class="form-group m-3 p-2">
                    <label for="">Email</label>
                    <input type="email" class="form-control" name="email" value="{{company.email}}">
                </div>
                <div class="form-group m-3 p-2">
                    <label for="">Registration Number</label>
                    <input type="text" class="form-control"  name="mf" value="{{company.mf}}">
                </div>
                <div class="form-group m-3 p-2">
                    <label for="">WebSite</label>
                    <input type="text" class="form-control"  name="site" value="{{company.site}}">
                </div>
                <div class="form-group m-3 p-2">
                    <label for="">Logo</label>
                    <input type="file" class="form-control" id="fileInput" name="logo">
                </div>
                <div class="form-group m-3 p-2">
                    <label for="">Category</label>
                    <select name="sector_id" id="" class="form-control">
                        {% for sector in sectors %}
                            <option value="{{sector.id}}" class="form-control" {% if company.sector_id == sector.id %} selected {% endif %}>{{sector.title}}</option>
                        {% endfor %}

                    </select>
                </div>
                
                <div class="form-group m-3 p-2">
                    <label for="">New Password</label>
                    <input type="password" name="newpsw" class="form-control">
                </div>
                <div class="form-group m-3 p-2">
                    <label for="">Confirm New Password</label>
                    <input type="password" name="confnewpsw" class="form-control">
                </div>

            </div>            
            <center>
            <input class="btn btn-primary mb-5" type="submit" value="Update">
            </center>
        </form>
    </div>


    <script>
        $(document).ready(function(){
         // File type validation
            $("#fileInput").change(function(){
                var fileLength = this.files.length;
                var match= ["image/jpeg","image/png","image/jpg","image/gif"];
                var i;
                for(i = 0; i < fileLength; i++){ 
                    var file = this.files[i];
                    var imagefile = file.type;
                    if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2]) || (imagefile==match[3]))){
                        alert('Please select a valid image file (JPEG/JPG/PNG/GIF).');
                        $("#fileInput").val('');
                        return false;
                    }
                }
            });
        });
        </script>
</body>
</html>