<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Admin Dashboard</title>

<style>
  h4{
    color: blueviolet;
  }
</style>



</head>
<body style="background-image: url('../static/background.png'); background-size: cover;"> 
    <div class="nav d-flex justify-content-between">      
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">Profils</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/companies">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/sectors">Categories</a>
        </li>
      </ul>
        <div class="d-flex align-items-center">
            <a href="/"><button class="btn btn-success" style="margin-right: 10px;">Home</button></a>
            <a href="/logout"><button class="btn btn-danger" style="margin-right: 16px;">Logout</button></a>
        </div>
      </div>
      <div class="container-fluid">
        <div class="d-flex align-items-end p-2">
            <h2 class="title m-2">Welcome  </h2> <h1>{{user.first_name}} {{user.last_name}}</h1>
        </div>
        We have already: <span style="color: red;">(until today: {{date}})</span>
        <div class="container d-flex">
            <div class="container-fluid text-center col-3 m-2 p-2" style="border-radius: 50px; background-color: rgb(230, 228, 228);">
                <h4>REVIEWS</h4>
                <h3>{{cr}}</h3>
            </div>
            <div class="container-fluid text-center col-3 m-2 p-2" style="border-radius: 50px; background-color: rgb(230, 228, 228);">
                <h4>USERS</h4>
                <h3>{{cu}}</h3>
            </div>
            <div class="container-fluid text-center col-3 m-2 p-2" style="border-radius: 50px; background-color: rgb(230, 228, 228);">
                <h4>COMPANIES</h4>
                <h3>{{cc}}</h3>
            </div>
            <div class="container-fluid text-center col-3 m-2 p-2" style="border-radius: 50px; background-color: rgb(230, 228, 228);">
                <h4>CATEGORIES</h4>
                <h3>{{cs}}</h3>
            </div>
        </div>
      </div>
</body>
</html>