<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html Tables</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1 class="fw-bolder">Html Table</h1>
    <h3 class="fout-monospace">Here we will put a dictionary in a table</h3>
    <div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="table-dark">First Name</th>
                <th class="table-dark">Last Name</th>
                <th class="table-dark">Full Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user['first_name'] }}</td>
                    <td>{{ user['last_name'] }}</td>
                    <td>{{ user['first_name'] }} {{ user['last_name'] }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>