<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Book Share</title>
</head>
<body>
    <div class="container d-inline-flex d-flex justify-content-between m-4">
        <h1>Adding new book to your Shelf</h1>
        <div class="bouton">
          <a href="/books"><button class ="btn btn-success">Return to Shelves</button></a>
          <a href="/logout"><button class ="btn btn-danger">LogOut</button></a>
        </div>
    </div>

    {%for message in get_flashed_messages()%}
          <p class="text-danger">{{message}}</p>
    {%endfor%}

    <div class="container m-5">
    <form class="form-control" action="/books/create" method="post">
        <div class="form-group m-2">
          <label for="">Title:</label>
          <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group m-2">
          <label for="">Author's name:</label>
          <input type="text" class="form-control" name="author">
        </div>
        <div class="form-group m-2">
          <label>My thoughts</label>
          <textarea class="form-control" name="thought" id="" cols="30" rows="10"></textarea>
        </div>
        <center>
            <button type="submit" class="btn btn-primary">Submit</button>
        </center>
    </form>
    </div>

</body>
</html>